form{
max-height: 100vh;


}
.form::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.form {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.Headers {
  font-weight: 700;
  font-size: 15.5949px;
  overflow: hidden;
  align-items: center;
width: 99.5% !important;
border-radius: 0px 20px 0px 20px !important;
  height: 80px;
  margin-left: 3px !important;
  background: linear-gradient(89.98deg, rgba(25, 70, 157, 0.2) 23.67%, rgba(0, 163, 255, 0.2) 97.94%);
  background-blend-mode: luminosity;

  padding-left: 70px;
  padding-top: 24px;



}

.form  input{

width: 105%;
height: 57.43px;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 20px;
margin-top: 20px;
border-left: none;
border-right: none;
padding-left: 20px;
padding-right: 20px;
}
.form input:focus{

outline: none;

}
.row{

  margin-right:70px;
}
.ButtonSection{

display: flex;
justify-content: space-between;
margin-right: 30px;
margin-top: 5rem;

}



.SubmitButton{


  width: 186px;
  height: 51px;
  background: linear-gradient(89.98deg, #19469D 23.67%, #00A3FF 97.94%);
  border-radius: 20px;
  color: white;
border: none;
}
.form select{

  width: 104%;
  height: 57.43px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 20px;
  border-left: none;
  border-right: none;
  padding-left: 20px;
  padding-right: 20px;
  }
  .form select:focus{

    outline: none;
    
    }
    .form textarea{

      width: 105%;
      height: 57.43px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      margin-top: 20px;
      border-left: none;
      border-right: none;
      padding-left: 20px;
      padding-right: 20px;

    }
    .form textarea:focus{


      outline: none;
    }
  .RaceButtonDiv{

    display: flex;
    justify-content: end;
    margin-right: 30px;
    margin-top: 5rem;
    
    }
    .updateButton{

      width: 186px;
  height: 51px;
  background: linear-gradient(89.98deg, #010306 23.67%, #4d5a62 97.94%);
  border-radius: 20px;
  color: white;
border: none;
margin-right: 2.8rem;
    }
    /* .form select{
      background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      radial-gradient(#ddd 70%, transparent 72%);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - .5em) .5em;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
     
    } */