.progress-bar {
  width: 100vw;
  height: 15px;
  background-color: white;
  margin-bottom: 50px;
}

.progress-bar div {
  width: 100%;
  height: 100%;
  background-color: #19469d;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  gap: 0.25em;
}

.form-group:last-child {
  margin: 0;
}

.form-group > label {
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
}

.form-group > input {
  border: 1px solid #19469d;
  border-radius: 0.25em;
  font-size: 1rem;
  padding: 0.25em;
}

.step-title {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

input {
  border: 2px solid #19469d;
  border-radius: 5px;
  height: 55px;
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}

.button-area {
  display: flex;
  align-content: space-between;
}

.DataAr {
  direction: rtl;
}

.btndiv > button {
  margin-top: 120px;
  background-color: #19469d;
  border-radius: 10px;
  padding: 10px 20px;
  justify-content: end;
  color: white;
  float: right;
  margin-right: 40px;
}

.form-row.formMain {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.maincontainer {
  margin-top: 2rem;
}

textarea {
  height: 22rem;
}

.formBtnDiv {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.formBtnDiv button {
  background: #19469d;
}

.fileInput {
  color: #fff;
}

.ImageContainer img {
  justify-content: left;
  align-items: flex-start;
  height: 300px;
  width: 299px;
}

.fileInput input {
  background: #19469d;
}

label {
  padding: 10px;

  display: table;
  color: #fff;

  background: #19469d;
  cursor: pointer;
}

*/ .maincontainer {
  display: flex;
  justify-content: space-between;
}

.maincontainer {
  justify-content: center;
}

.btnDivide {
  display: flex;
  justify-content: space-between;
}

.btnDivide > button {
  margin-right: 40px;
  color: white;
  margin-top: 120px;
  background-color: #19469d;
  border-radius: 10px;
  padding: 10px 20px;
}
